#logo{}
	

	body{
		background-color: #8dae8b;
	}


	#total-orders{
		background-color: #15454e;
	}


	#orders-delivered{
		background-color: #15454e;
	}

	#orders-pending{
		background-color: #15454e;
	}

	.card-header{
		background-color: #adb5bd; 
	}
